<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My APP{% endblock %}</title>
        <link rel="stylesheet" href="static/styling_page_common.css">
        <link rel="icon" type="image/x-icon" href="static/bookstore_icon.png">
        <script>
            function showMessage() {
                var message = document.getElementById("message");
                message.style.display = "block";
                setTimeout(function() {
                    message.style.display = "none";
                }, 3000);
            }
        </script>
    </head>
    <body>
        <header>
            <h1>Wonderland Bookstore</h1>
            <div id="login-logout">
                {% block login_logout %}
                    <a href="{{ url_for('customer_sign_in') }}">Sign In</a>
                {% endblock %}
            </div>
        </header>
        <br> <br>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <p>@Copyright {{ year}}. Wonderland Bookstore Application</p>
        </footer>
    </body>
</html>
